.menu-top {
    display: flex;
    justify-content: space-between;

    @media screen and ( min-width: 768px ) {
        justify-content: unset;
    }

    &__logo {
        display: flex;
        margin-right: 40px;

        svg {
            width: 40px;
        }
    }
}